# Environment variables - secrets
.env

# OS files
.DS_Store

# Node modules
node_modules

# Build files
dist

# Docs
docs/
/test-results
claude.md
.last-run.json
.cursorrules
AGENTS.md
CLAUDE.md

playwright-report/

reports/
test-results/
dist/
node_modules/
.env
.DS_Store
.last-run.json
.cursorrules
index.html
ctrf-report.json
#examples 
examples/